* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background: #e4e9f7;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 80;
  float: left;
  font-family: "Poppins", sans-serif;
  color: #ecf1f6;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #243763;
  z-index: 1;
  border-bottom: 1px solid #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: rgb(250, 250, 250);
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #deecfd;
}

h2 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #b0d0ec;
  text-decoration: none;
}

a.tbl-pink {
  background: #217bb7fc;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}

.kartu-partner img {
  width: 150px;
  border-radius: 50%;
}

.button {
  display: inline-block;
  background: #056676; /* #4285f4; */
  color: #fff;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#sub_btn {
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #e1b00a; /*#056676;*/
  transition: 0.3s;
}
#contact {
  background: #dedede;
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 60px 0px 50px 0px;
  margin-top: 50px;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: "comic sans ms";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

@media screen and (max-width: 680x) {
  #maincontent {
    width: auto;
    float: none;
  }
  #sidebar {
    width: auto;
    float: none;
  }
}
.Kotak {
  text-align: justify;
  padding: 2rem;
  margin: 20px;
  padding: 20px;
  padding-top: auto;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #2f4fa2;
  /* border-style: dotted; */
  background-color: #ffffff;
  /* margin-bottom: 5px; */
}
/* #copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
} */
